body{
	margin: 0;
	padding: 0;
    font-family: sans-serif;
}

header{
	width: min(1440px, 100%);
	height: 56px;
	border-radius: 8px;
	position: relative;
}

header p{
	float: left;
	left: 800px;
}

img{
	display:flex;
	justify-content: flex-start;
	float: right;
	right: 500px;
	/*position: absolute;
	left: 520px;
	top: 0;
	width: 420px;
	height: 69px;
	border-radius: 0;
	object-fit: cover;*/
	
}

.nav-links{
	position: absolute;
	left: 1029px;
	top: 14px;
	width: 291px;
	
	padding: 0;
	text-align: left;
}

.nav-links ul{
	display: flex;
	align-items: flex-start;
	gap: 40px;
	height: 28px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.intro {
	position: absolute;
	left: 119px;
	top: 110px;
	width: 486px;
	height: 408px;
	box-sizing: border-box;
	text-align: left;
}

.intro h3 {
	width: 486px;
	height: 27px;
	box-sizing: border-box;
	line-height: 27px;
	color: #F4C542;
}

.content {
	position: absolute;
	left: 0;
	top: 39px;
	display: flex;
	flex-direction: column;
	width: 486px;
}

.content p{
	color: gray;
}

.buttons {
	display: flex;
	gap: 10px;
}

.buttons button {
	box-sizing: border-box;
	position: relative;
	width: 100px;
	padding: 15px;
	line-height: 15%;
	letter-spacing: 0%;
	border-radius: 5px;
}

.btn-1{
	border: none;
	background-color: #F4C542;
	cursor: pointer;
}

.btn-2{
	border: 2px solid;
	cursor: pointer;
	background-color: white;
}

